<div class="col-xs-12">
  <!-- Reset button section -->
  <div class="row">
    <button
      class="btn btn-danger btn-block"
      (click)="restartSearch()"
      *ngIf="longitude != ''"
    >
      Restart Search
    </button>
    <br />
    <!-- Address API search section -->
  </div>
  <!-- Hides when location set -->
  <div class="row" *ngIf="longitude === ''">
    <p>Postcode of area you wish to search:</p>
    <div class="col-xs-6">
      <input
        #postcode
        type="text"
        class="form-control"
        placeholder="GL51 0EX"
        style="text-align: center"
        [(ngModel)]="searchLocation"
      />
    </div>
    <div class="col-xs-6">
      <button
        class="btn btn-primary btn-block"
        (click)="onSetLocation()"
        [disabled]="postcode.value === ''"
      >
        Set Location
      </button>
    </div>
  </div>
  <!-- Hides when police API returns data -->
  <div *ngIf="!dataShow">
    <!-- Shows when location set -->
    <p *ngIf="locationShow">
      Searching for results within a 1 mile radius of: <br />
      <small class="text-muted">{{ searchLocationString }}</small>
    </p>
  </div>

  <hr />
  <!-- Police API information section -->
  <div class="row">
    <!-- Hides when police API returns data -->
    <div *ngIf="!dataShow">
      <!-- Shows when location is set -->
      <button
        class="btn btn-primary btn-block"
        *ngIf="locationShow"
        (click)="onPoliceApiCall()"
      >
        Search
      </button>
    </div>
    <!-- Shows when police API returns data -->
    <p *ngIf="dataShow">
      A total of <small>{{ this.policeApiData.length }}</small> entries where found
      within 1 mile radius of
      <small class="text-muted">{{ searchLocationString }}</small>
    </p>
    <br />
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let dataItem of policeApiData">
        <h4 class="list-group-item-heading">Type: {{ dataItem.type }}</h4>
        <p class="list-group-item-tex">
          Location: <small>{{ dataItem.location }}</small> <br />
          Outcome: <small>{{ dataItem.outcome }}</small> <br />
          Date: <small>{{ dataItem.month }}</small>
        </p>
      </li>
    </ul>
  </div>
</div>
